/*==================== Reset & Responsive screen ========== */

html, body {
	margin: 0;
	padding: 0;
	border:0;
}

* {
	box-sizing: border-box;
}

body {
	font-size: 140%
	position: relative;
}

@media (max-width: 1200px) {
	body {font-size: 160%;}
}

@media (min-width: 768px) and (max-width: 979px) {
	body {font-size: 120%;}
}

@media (max-width: 767px) {
	body {font-size: 110%;}
}

@media (max-width: 480px) {
	body {font-size: 90%;}
}

/*==================== Layout - main content ========== */

.group h4 {
	padding: 10px;
}

#work h1 {
	text-align: center;
	padding-bottom: 2em;
}

.contactform {
	width: 50%;
	margin: 2em auto;
}

.findme {
	padding-top: 5%;
	padding-left: 30%;
	color: #000;
}

#front {
	padding:0;
}

.cat-pic {
	height: 20em;
	margin: 1em;
}

.skills {
	background-color: #5AD4C2;
	color: #FFF;
}

.jumbotron {
	background-image: url("../img/landscape_gray.jpg");
	background-size: cover;
}

.content {
	padding-bottom: 0;
}

.mainhead {
	padding: 10px;
}

.headbox {
	width: 100%;
	margin: 0 auto;
}

.maincontent {
	padding-bottom: 140px;
	padding-left: 60px;
}

.email, .phone, .address {
	width: 100%;
	padding: 1.5em 0 1.5em 3em;
}

.sbmt {
	margin:5px 0;
}

.group {
	margin: 10px 0;
}

#resume {
	width: 100%;
	padding: 5px;
	height: 500px;
}

.modal-section {
	margin-left: 0;
	margin-right: 0;
}

.modal-title {
	display: inline;
}

.learn-more-btn {
	margin-top: 20px;
	margin-bottom: 10px;
}

.panel-body {
	background-color: #ccb3ff;
}

.faq-head {
	background-color: #800080;
	color: #fff;
}

.panel-default>.panel-heading {
	background-color: #330033;
	color: #fff;
}

#projects, #about, #contact, #faq, #social-media {
	padding: 5em;
}

#faq {
	background-color: #5b4182;
}

#projects {
	background-color: #F0AD4E;
}

#about{
	background-color: #00781F;
}

#contact {
	background-color: #ffe51e;
}

#social-media {
	background-color: #f1b8ff;
}

.media {
	margin: 5em;
}

#contactme {
    background-image: url("../img/foggy-forest.jpe");
    background-attachment: fixed;
    background-size: cover;
}

/*==================== Layout - nav & footnav ========== */

.nav, .footnav {
	background: #222222;
}

.nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.footnav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 0.8em;
}

.footnav h5 {
	border-bottom-style: solid;
	border-bottom-color: #fff;
	border-width: 1px;
	text-align: center;
	font-size: 0.9em;
	padding-bottom: 5px;
	letter-spacing: 0.05em;
	color: #fff;
}

.footnav p {
	margin-top: 0.8em;
	padding: 0;
}

.nav ul li {
	display: inline-block;
	letter-spacing: 0.05em;
}

#navigation {
	position: fixed;
	z-index: 10;
	width: 100%;
	top: 0;
	padding: 20px 10px 20px;
}

.copyright {
	font-size: 0.8em;
	font-weight: 400;
	clear: both;
	text-align: center;
	padding: 0;
	margin: 0 auto;
}

.navbar-nav {
	padding: 0 1em;
}

.nav p {
	display: inline-block;
	padding-left: 15px;
}

.navbar {
	margin: 0;
	padding: 0;
	min-height: 1em;
	border: none;
}

/*==================== Typography ========== */

@font-face {
    font-family: 'headliner45';
    src: url("fonts/HeadlinerNo.45.ttf");
}

@font-face {
    font-family: 'azoft sans';
    src: url("fonts/azoft-sans-bold.ttf");
}

html,h1, h2, h3, h4 {
	font-family: Ubuntu, Arial, sans-serif;
}

h1 {
	font-size: 350%;
}

.faq-head h1 {
	color: #000;
}

.maincontent h4 {
	font-weight: 600;
}

.skills h3 {
	font-family: headliner45;
	font-size: 3em;
	font-weight: 100;
	text-align: center;
	text-transform: uppercase;
}

.flying_cats h1 {
	color: pink;
}

.carousel-caption h1 {
	font-size: 3em;
}

.into p {
	font-family: Ubuntu, Arial, sans-serif;
	font-size: 3em;
	font-weight: 100;
}

.flying_cats p {
	color: black;
}

.email span.glyphicon:hover, .phone span.glyphicon:hover, .address span.glyphicon:hover {
	color: red;
}

#email, #phone, #address {
	font-size: 1.8em;
}

.email, .phone, .address, .findme {
	font-size: 1.2em;
}

.aboutme, .underhero, .questions, #work {
	margin-top: 5em;
	margin-bottom: 5em;
}

#work img {
	margin: 1em auto;
}

.panel-title {
	font-weight: 300;
}

.carousel-caption h1, .carousel-caption p {
	font-weight: 700;
	font-family: Ubuntu, Arial, sans-serif; 
}

.carousel-caption p {
	font-size: 1.5em;
}

#about {
	color: #fff;
}

#contactme {
	color: yellow;
    font-weight: 600;
}

.footnav h4, .footnav p {
	font-weight: 500;
	font-family: Helvetica, Arial, serif;
	color: #fff;
}

/*==================== Links ========== */

.cth a {
	text-transform: uppercase;
	color: purple;
}

.cth a:hover, .footnav a:hover {
	color: yellow;
}

.footnav a:link, .nav a:link, .cth a, .cth a:visited, .cth a:hover, .panel a:hover, .panel a, .panel a:visited, .headbox a {
	text-decoration: none;
}

.nav a {
	color: #8c8c8c;
	float: left;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

.nav a:visited {
	color: #8c8c8c;
}

.footnav a, .footnav a:visited, .nav a:hover {
	color: #fff;
	transition: color 300ms;
	-webkit-transition: color 300ms;
}

.footnav a {
	font-weight: 500;
	font-family: Helvetica, Arial, serif;
	color: #fff;
}

nav a {
	font-family: "azoft sans", Ubuntu, Georgia, sans-serif;
	font-weight: 400;
	padding: 0 20px;
	text-transform: uppercase;
}

.headbox a {
	color: inherit;
}