html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

* {
	box-sizing: border-box;
}

body {
	padding-top: 0px;
	padding-bottom: 120px;
}

.container {
	width: 80%;
	margin: 0 auto;
	padding-bottom: 140px;
}

.container-fluid {
	padding:0;
}

.header {
	padding: 50px 0px;
}

.header h1 {
	text-align: center;
}

.cat-pic {
	width: 100%;
}

.column {
	display: inline-block;
	float: left;
	width: 30%;
	padding: 20px 0 0 20px;
}

.image {
	display: inline-block;
	float: left;
}

.main-text {
	clear: both;
	padding-top: 10px;
	width: 800px;
	font-size: 1.1em;
}

.column h2, .column h3, .into p {
	-webkit-margin-before:0;
}

#skill-list {
	margin-left: 50px;
}

.skills {
	background-color: #5AD4C2;
	color: #FFF;
}

.jumbotron {
	background-image: url("../img/landscape_gray.jpg");
	background-size: cover;
}

.cat-pic {
	width: 400px;
}

.nav, .footnav {
	background: #222222;
}

.nav a:link {
	text-decoration: none;
}

.footnav a:link {
	text-decoration: none;
}

.nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	float: right;
}

.footnav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.footnav h5 {
	border-bottom-style: solid;
	border-bottom-color: #fff;
	border-width: 1px;
}

.nav ul li {
	display: inline-block;
	letter-spacing: 0.05em;
}

.nav ul li a {
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

#navigation {
	position: block;
	z-index: 10;
	width: 100%;
	top: 0;
	padding: 20px 10px 20px;
}

.col20 {
	width: 30%;
	display: inline-block;
	font-size: 0.8em;
}

.copyright {
	width: 100%;
	font-size: 0.8em;
	font-weight: 400;
	clear: both;
	text-align: center;
	padding: 0;
}

.wrapper {
	min-height: 100%;
	position: relative;
	background-image: url("../img/arrow_wall.jpg");
	background-size: cover;
}

.header {
	background-color: #262626;
}

.content {
	padding-bottom: 0;
}

.footer {
	bottom: 0;
	left: 0;
	height: 100px
	width: 100%;
	background-color: #222222;
}

.header p {
	font-size: 1.5em;
	font-color: #fff;
	font-weight: 300;
}

.nav a {
	color: #8c8c8c;
	float: left;
}

.footnav a, .footnav a:visited, .nav a:visited {
	color: #8c8c8c;
}

.nav a:hover {
	color: white;
	font-weight: 600;
	transition: color 300ms, font-weight 300ms;
	-webkit-transition: color 300ms, font-weight 300ms;
}

.footnav a:hover {
	color: white;
	transition: color 300ms;
	-webkit-transition: color 300ms;
}

.mainbox {
	min-height: 100%;
	position: relative;
}

.mainhead {
	padding: 10px;
	background-color: #dbdbdb;
}

.headbox {
	width: 800px;
	margin: 0 auto;
}

.maincontent {
	padding-bottom: 140px;
	padding-left: 60px;
}

.mainfoot {
	width: 100%;
	background: #222222;
	height: 140px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.mainfoot p, h5 {
	padding: 10px 0 0 60px;
	margin: 0;
	color: #EDEDED;
}

.mainfoot h5 {
	padding-bottom: 10px;
	margin-bottom: 10px;
}

div.mainfoot>div:first-child {
	width: 800px;
	margin: 0 auto;
}

.sillycatpic {
	height: 200px;
	margin: 137.5px 100px 0 0;
	position: absolute;
	top: 0;
	right: 0;
}

.email, .phone, .address {
	width: 700px;
	padding: 20px 100px;
}

.nav p {
	display: inline-block;
	padding-left: 15px;
}

.panel {
	width: 80%;
	margin: 10px auto;
}

.group h4 {
	padding: 10px;
}

.panel-body {
	background-color: #ccb3ff;
}

.faq-head {
	background-color: #800080;
	color: white;
}

.panel-default>.panel-heading {
	background-color: #330033;
	color: #fff;
}

#work h1 {
	text-align: center;
	padding-bottom: 10px;
}

#work img {
	margin-bottom: 20px;
}



/*###############Typography*/

@font-face {
    font-family: 'headliner45';
    src: url("fonts/HeadlinerNo.45.ttf");
}

@font-face {
    font-family: 'azoft sans';
    src: url("fonts/azoft-sans-bold.ttf");
}

html,h1, h2, h3, h4 {
	font-family: Ubuntu, Arial, sans-serif;
}

.into p {
	font-family: Ubuntu, Arial, sans-serif;
	font-size: 3em;
	font-weight: 100;
}


.skills h3 {
	font-family: headliner45;
	font-size: 3em;
	font-weight: 100;
	text-align: center;
	text-transform: uppercase;
}

#navigation a {
	font-family: "azoft sans", Helvetica, Georgia, sans-serif;
	font-weight: 400;
	padding: 0 20px;
	text-transform: uppercase;
}

.maincontent h4 {
	font-weight: 600;
}

.email span.glyphicon:hover, .phone span.glyphicon:hover, .address span.glyphicon:hover {
	color: red;
}

#email, #phone, #address {
	font-size: 0.8em;
}

.email, .phone, .address {
	font-size: 1.2em;
}

.panel-title {
	font-weight: 300;
}

.faq-head h1 {
	color: #000;
}

.panel a:hover, .panel a, .panel a:visited {
	text-decoration: none;
}

.carousel-caption h1, .carousel-caption p {
	color: black;
	font-weight: 700;
	font-family: Ubuntu, Arial, sans-serif; 
}

.carousel-caption h1 {
	font-size: 3em;
}

.carousel-caption p {
	font-size: 1.5em;
}