<div class="info">
	<h1>What this app is</h1>
	<hr>
	<h3>This test Rails web app is dedicated to not only the imaginary used bikes business in Berlin, however exciting that may be, but more importantly it's for us the developer to hone our skills of Rails-ship and web whizzmagery.</h3>
</div>
