<div class="info">
	<h1>Background</h1>
	<hr>
	<p>Moi will be the infamous, or better yet the unknown to anybody, Mariusz Borowiak. Web developeaur in the making.</p>
	<p>This is my first Rails creation is, you know what thwey say, it's bound to be bad.</p>
	<p>Enjoy :)</p><br>
	<h1>Contact</h1>
	<hr>
	<p>Follow me on <a href="https://github.com/cthulh">github</a>. Let's build something together!</p>
	<p>Ping me an email: tryglavson@hotmail.co.uk</p>
	<p>Text me on: +447910140160</p>
</div>


