<main>
	<h1>Welcome to Rusty Bikes</h1>
	<h4>Your source for used bikes in Berlin</h4>
	<div class="front-pic">
		<%= image_tag("main-rusty.jpg", class: "img-responsive img-thumbnail") %>
	</div>
</main>


